@import "~Assets/globalVariables.less";

.SideDrawer {
  width: 90vw;
  height: 95vh;
  display: block;
  border: 1px solid black;
  border-radius: 0 1em 1em 0;
  position: fixed;
  top: @top-buffer - 0.07em;
  left: -100vw;
  z-index: 90;
  background-color: aqua;
  transition: transform 0.3s ease-out;

  &.open {
    transform: translateX(100vw);
  }

  &.closed {
    transform: translateX(0);
  }
}

